
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
frontend/node_modules/
Backend/node_modules/

# Environment variables
frontend/.env
frontend/.env.local
frontend/.env.*.local
Backend/.env
Backend/.env.local
Backend/.env.*.local

# Build output
frontend/dist/
Backend/dist/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
