* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rating-star-container {
    display: flex;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

.rating-star-label {
    cursor: pointer;
    margin: 0 3px; 
    position: relative;
}

.rating-star-input {
    display: none;
}

.rating-star-icon {
    transition: color 0.3s ease, transform 0.3s ease;
    transform: scale(1);
}

.rating-star-icon:hover {
    color: #f7c04a;
    transform: scale(1.2);
}

.rating-star-text {
    margin-left: 8px;
    font-size: 14px; 
    color: #f7c04a;
    font-weight: 600;
}

@media (max-width: 600px) {
    .rating-star-container {
        /* flex-direction: column; */
        align-items: flex-start;
    }

    .rating-star-label {
        margin: 0 2px;
    }

    .rating-star-icon {
        font-size: 30px; 
    }

    .rating-star-text {
        font-size: 12px; 
        margin-left: 5px; 
    }
}
