* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.review-page-container {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(to bottom, #1e9ec9, #125d9a);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.review-form-container {
    margin-bottom: 40px;
    background: linear-gradient(to right, #2c3e50, #34495e);
    padding: 20px;
    border-radius: 8px;
}

.review-form-heading {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #1abc9c;
    border-bottom: 2px solid #1abc9c;
    display: center;
    padding-bottom: 5px;
}

.review-form {
    display: flex;
    flex-direction: column;
}

.review-form-container .form-group {
    margin-bottom: 15px;
    width: 100%;
}

.review-form-container .form-label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #ecf0f1;
}

.review-form-container .form-input,
.review-form-container .form-textarea {
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    font-size: 16px;
    background-color: #34495e;
    color: #ecf0f1;
    align-content: center;
    align-items: center;
    align-self: center;
}

.review-form-container .form-input {
    height: 50px;
    width: 50%;
    align-items: center;
    align-self: center;
    align-content: center;
}

.review-form-container .form-textarea {
    height: 100px;
    width: 90%;
    /* resize:vertical; */
    align-items: center;
    align-self: center;
    align-content: center;
}

.review-form-container .rating-star-component {
    margin-top: 10px;
}

.review-form-container .submit-button {
    --c: #1abc9c;

    padding: 10px 20px;
    background-color: #1abc9c;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-size 0.4s, background-position 0s 0.4s,
        background-color 0.3s;
    margin: auto;

    box-shadow: 0 0 0 0.1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
        var(--_g) calc(200% - var(--_p, 0%)) 0%,
        var(--_g) calc(var(--_p, 0%) - 100%) 100%,
        var(--_g) calc(200% - var(--_p, 0%)) 100%;
    background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
    outline-offset: 0.1em;
}

.review-form-container .submit-button:hover {
    --_p: 100%;
    transition: background-position 0.4s, background-size 0s;
}

.review-form-container .submit-button:active {
    box-shadow: 0 0 0 0.1em inset #0009;
    background-color: #1abc9c;
    color: #fff;
}

.reviews-heading {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: whitesmoke;
    border-bottom: 2px solid whitesmoke;
    display: center;
    padding-bottom: 5px;
}

.reviews-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.review-item {
    padding: 20px;
    width: 100%;
    background: linear-gradient(to bottom, #34495e, #2c3e50);
    border: 1px solid #7f8c8d;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-product-name {
    font-size: 18px;
    margin-bottom: 10px;
    color: #1abc9c;
}

.review-text {
    font-size: 16px;
    margin-bottom: 10px;
    color: #ecf0f1;
}

.review-rating {
    font-size: 16px;
    margin-bottom: 10px;
    color: #f1c40f;
}

.review-date {
    font-size: 14px;
    color: #95a5a6;
}

.review-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.review-item .delete-button {
    margin: auto;
    background-color: crimson;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    width: 30%;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    display: inline-block;
    font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
        "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.review-item .delete-button:before {
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 125px;
    content: "";
    height: 50%;
    left: 4%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    transition: all 0.3s;
    width: 92%;
}

.review-item .delete-button:hover {
    background-color: rgba(220, 20, 60, 0.556);
    box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
        rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
    transform: scale(1.05);
}

.review-user-email {
    font-style: italic;
    color: cadetblue;
    margin-bottom: 0.5rem;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(12, 12, 12, 0.8);
    z-index: 98;
}
.lds-circle {
    color: crimson;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 64px;
    z-index: 99;
}

.lds-circle div {
    box-sizing: border-box;
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    background: currentColor;
    border-radius: 50%;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {
    0%,
    100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
        transform: rotateY(3600deg);
    }
}
@media (max-width: 600px) {
    .review-page-container {
        padding: 10px;
        max-width: 90%;
        margin: auto;
        margin-top: 10%;
    }

    .review-form-heading,
    .reviews-heading {
        font-size: 20px;
    }

    .review-item {
        padding: 15px;
    }

    .review-product-name {
        font-size: 16px;
    }

    .review-text {
        font-size: 14px;
    }

    .review-rating,
    .review-date {
        font-size: 12px;
    }

    .review-item .delete-button {
        font-size: 12px;
        padding: 4px 8px;
        width: 50%;
        padding: 0.5rem 2rem;
    }

    .review-form-container .form-input,
    .review-form-container .form-textarea {
        width: 100%;
    }
}
/* Light */
html[data-theme="light"] {
    .review-page-container {
        background: linear-gradient(to bottom, #003366, #001f3f);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .review-form-container {
        background: linear-gradient(to right, #00274d, #001a3c);
    }
    .review-form-heading {
        color: #1e90ff;
        border-bottom: 2px solid #1e90ff;
    }
    .review-form-container .form-label {
        color: #d4d4d4;
    }
    .review-form-container .form-input,
    .review-form-container .form-textarea {
        border: 1px solid #9e9e9e;
        background-color: #001a3c;
        color: #d4d4d4;
    }
    .review-form-container .submit-button {
        --c: #1e90ff;
    }
    .review-form-container .submit-button:active {
        background-color: #1e90ff;
    }
    .reviews-heading {
        color: #f2f2f2;
        border-bottom: 2px solid #f2f2f2;
    }
    .review-item {
        background: linear-gradient(to bottom, #002a6d, #001b4d);
        border: 1px solid #6c6c6c;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .review-product-name {
        color: #1e90ff;
    }

    .review-text {
        color: #d4d4d4;
    }

    .review-rating {
        color: #f5b800;
    }

    .review-date {
        color: #a0a0a0;
    }

    .review-item .delete-button {
        background-color: #c81010;
        color: white;
    }

    .review-item .delete-button:hover {
        background-color: #a90000;
    }
    .review-user-email {
        color: #a3a3a3;
    }
}
