@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}
.nav {
    background: #147d76;
    padding: 10px;
    position: flex;
    width: 100%;
    display: flex;
}

.nav-logo {
    margin-right: auto;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: white;
    font-weight: 700;
}

.nav-ul {
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-items: center;
    gap: 20px;
}

.nav-item {
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-weight: 200;
}

.nav-item:hover a {
    color: rgb(0, 34, 3);
}

.nav-item:active a{
    color: red;
}
