* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rating-star-container {
    display: flex;
    align-items: center;
    font-family: 'Arial', sans-serif;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rating-star-label {
    cursor: pointer;
    margin: 0 5px;
    position: relative;
}

.rating-star-input {
    display: none;
}

.rating-star-icon {
    transition: color 0.3s ease, transform 0.3s ease;
    transform: scale(1);
}


.rating-star-icon:hover {
    color: #ffd700;
    transform: scale(1.2);
}


@media (max-width: 600px) {
    .rating-star-container {
        flex-direction: row; 
        justify-content: center; 
    }

    .rating-star-label {
        margin: 0 3px; 
    }

    .rating-star-icon {
        font-size: 30px; 
        margin: 0 2px; 
    }

    
    .rating-star-label:hover,
    .rating-star-label:focus {
        transform: scale(1.1);
    }
}
