* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* align-items: center; */
}
.bubbles {
  /* background-color: gray; */
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  max-width: 200vh;
  height: 100%;
  overflow: hidden;
  z-index: -1; 
}

.bubble {
  position: absolute;
  left: var(--bubble-left-offset);
  bottom: -75%;
  display: block;
  width: var(--bubble-radius);
  height: var(--bubble-radius);
  border-radius: 50%;
  animation: float-up var(--bubble-float-duration) var(--bubble-float-delay) ease-in infinite;
}

.bubble::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(136, 246, 251, 0.3);
  border-radius: inherit;
  animation: var(--bubble-sway-type) var(--bubble-sway-duration) var(--bubble-sway-delay) ease-in-out alternate infinite;
}

.bubble:nth-child(0) {
  --bubble-left-offset: 66vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 7s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(1) {
  --bubble-left-offset: 3vw;
  --bubble-radius: 8vw;
  --bubble-float-duration: 10s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(2) {
  --bubble-left-offset: 98vw;
  --bubble-radius: 9vw;
  --bubble-float-duration: 9s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(3) {
  --bubble-left-offset: 90vw;
  --bubble-radius: 1vw;
  --bubble-float-duration: 6s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(4) {
  --bubble-left-offset: 43vw;
  --bubble-radius: 2vw;
  --bubble-float-duration: 6s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(5) {
  --bubble-left-offset: 81vw;
  --bubble-radius: 2vw;
  --bubble-float-duration: 12s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(6) {
  --bubble-left-offset: 53vw;
  --bubble-radius: 2vw;
  --bubble-float-duration: 11s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(7) {
  --bubble-left-offset: 30vw;
  --bubble-radius: 2vw;
  --bubble-float-duration: 6s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(8) {
  --bubble-left-offset: 22vw;
  --bubble-radius: 5vw;
  --bubble-float-duration: 7s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(9) {
  --bubble-left-offset: 78vw;
  --bubble-radius: 8vw;
  --bubble-float-duration: 12s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 4s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(10) {
  --bubble-left-offset: 26vw;
  --bubble-radius: 4vw;
  --bubble-float-duration: 12s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(11) {
  --bubble-left-offset: 32vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 6s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(12) {
  --bubble-left-offset: 56vw;
  --bubble-radius: 1vw;
  --bubble-float-duration: 8s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(13) {
  --bubble-left-offset: 19vw;
  --bubble-radius: 6vw;
  --bubble-float-duration: 6s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(14) {
  --bubble-left-offset: 32vw;
  --bubble-radius: 10vw;
  --bubble-float-duration: 10s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 0s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(15) {
  --bubble-left-offset: 39vw;
  --bubble-radius: 9vw;
  --bubble-float-duration: 9s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 4s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(16) {
  --bubble-left-offset: 83vw;
  --bubble-radius: 9vw;
  --bubble-float-duration: 10s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(17) {
  --bubble-left-offset: 69vw;
  --bubble-radius: 4vw;
  --bubble-float-duration: 8s;
  --bubble-sway-duration: 6s;
  --bubble-float-delay: 3s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(18) {
  --bubble-left-offset: 7vw;
  --bubble-radius: 5vw;
  --bubble-float-duration: 12s;
  --bubble-sway-duration: 4s;
  --bubble-float-delay: 0s;
  --bubble-sway-delay: 3s;
  --bubble-sway-type: sway-left-to-right;
}
.bubble:nth-child(19) {
  --bubble-left-offset: 67vw;
  --bubble-radius: 3vw;
  --bubble-float-duration: 7s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 2s;
  --bubble-sway-delay: 1s;
  --bubble-sway-type: sway-right-to-left;
}
.bubble:nth-child(20) {
  --bubble-left-offset: 62vw;
  --bubble-radius: 2vw;
  --bubble-float-duration: 11s;
  --bubble-sway-duration: 5s;
  --bubble-float-delay: 1s;
  --bubble-sway-delay: 2s;
  --bubble-sway-type: sway-right-to-left;
}
/* Add similar styles for other bubble nth-child selectors here */
@keyframes float-up {
  to {
    transform: translateY(-175vh);
  }
}

@keyframes sway-left-to-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes sway-right-to-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
.home-container {
padding: 1rem;
max-width: 1300px;
margin: 4rem auto;
}
.home-container h1  {
  color: #3DC1BB;
}
.hero-content {
text-align: center;
margin-bottom: 6rem;
}
.max-w-md .sign-in-text{
  color:cyan;
}
.hero-content .max-w-md {
max-width: 28rem;
margin: 0 auto;
}

.hero-content .text-5xl {
font-size: 3rem;
font-weight: bold;
}

.hero-content .text-teal-700 {
color: #96DEDA;
}

.hero-content .py-6 {
padding-top: 1.5rem;
padding-bottom: 1.5rem;
color: #E1F6F5;
}

/* Button styles */
.hero-content .btn {
    display: inline-block;
    padding: 15px 25px;
    border: unset;
    border-radius: 40% 60% 60% 40% / 50% 50% 50% 50%;
    color: #212121;
    text-align: center;
    background-color: #38b2ac;
    text-decoration: none;
    position: relative;
    font-weight: 1000;
    font-size: 17px; 
    z-index: 1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

.hero-content .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
}

.hero-content .btn:hover {
    color: #e8e8e8; 
}

.hero-content .btn:hover::before {
    width: 100%; 
}

.max-w-md{
  color: #E1F6F5;
}
.featured-products-container {
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}

.featured-products-container::before,
.featured-products-container::after {
  content: '';
  width: 30%;
  height: 2px;
  background-color: #38b2ac;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.featured-products-container::before {
  left: 0;
}

.featured-products-container::after {
  right: 0;
}

.featured-products-title {
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  padding: 0 1rem;
  color: #38b2ac;
  position: relative;
  z-index: 1;
}
.features-container2 {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  padding: 20px;
  border-radius: 8px;
}

.features-container2 .feature-item {
  text-align: center;
  padding: 20px;
  border: 1px solid lightgreen;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 30%;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease;
}

.features-container2 .feature-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 255, 255, 0.6);
}
.features-container2 .feature-icon {
  font-size: 3rem;
  color: #1abc9c;
  margin-bottom: 10px;
}

.features-container2 .feature-title {
  font-size: 1.5rem;
  color: lightgreen;
  margin-bottom: 10px;
}

.features-container2 .feature-description {
  font-size: 1rem;
  color: lightgreen;
}
@media (max-width: 768px) {
.hero-content .text-5xl {
    font-size: 2.25rem;
}
.featured-products-title {
  font-size: 1.2rem;
  }
  .features-container2 .feature-item {
    width: 45%;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
.hero-content .text-5xl {
    font-size: 1.875rem;
}
.featured-products-title {
  font-size: .8rem;
  }
  .features-container2 {
    flex-direction: column;
    align-items: center;
  }

  .features-container2 .feature-item {
    width: 90%;
    margin-bottom: 20px;
  }
}
/* Light theme */
html[data-theme="light"] {

  .home-container h1{
    color: black;
    }
    .bubble::before {
      background: rgba(111, 171, 227, 0.566);
    }
  .hero-content .text-teal-700 {
  color: #004B8D;
  }
  .hero-content .py-6 {
    color: black;
    }
  
  .hero-content .btn {
  background-color: #0084F7;
  color: #ffffff;
  }
  
  .hero-content .btn:hover {
  background-color: #0a3255;
  }
  .max-w-md{
    color:black;
  }
  .max-w-md .sign-in-text{
    color:red;
  }
  .featured-products-container::before,
  .featured-products-container::after {
    background-color: #0084F7;
  }
  
  .featured-products-title {
    color: #0084F7;
  }
  
  .features-container2 .feature-item {
    border: 1px solid #1C95FF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .features-container2 .feature-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 10px #0084F7;
  }
  .features-container2 .feature-icon {
    color: #00549D;

  }
  
  .features-container2 .feature-title {
    color: #1C95FF;
  }
  
  .features-container2 .feature-description {
    color: #1C95FF;
  }
}