* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* align-items: center; */
}
.home-container {
padding: 1rem;
max-width: 1300px;
margin: 4rem auto;
}
.home-container h1  {
  color: #3DC1BB;
}
.hero-content {
text-align: center;
margin-bottom: 6rem;
}
.max-w-md .sign-in-text{
  color:cyan;
}
.hero-content .max-w-md {
max-width: 28rem;
margin: 0 auto;
}

.hero-content .text-5xl {
font-size: 3rem;
font-weight: bold;
}

.hero-content .text-teal-700 {
color: #96DEDA;
}

.hero-content .py-6 {
padding-top: 1.5rem;
padding-bottom: 1.5rem;
color: #E1F6F5;
}

.hero-content .btn {
display: inline-block;
padding: 0.5rem 1rem;
border-radius: 0.375rem;
text-align: center;
background-color: #38b2ac;
color: #ffffff;
text-decoration: none;
}

.hero-content .btn:hover {
background-color: #319795;
}
.max-w-md{
  color: #E1F6F5;
}
.featured-products-container {
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}

.featured-products-container::before,
.featured-products-container::after {
  content: '';
  width: 30%;
  height: 2px;
  background-color: #38b2ac;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.featured-products-container::before {
  left: 0;
}

.featured-products-container::after {
  right: 0;
}

.featured-products-title {
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  padding: 0 1rem;
  color: #38b2ac;
  position: relative;
  z-index: 1;
}
.features-container2 {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  padding: 20px;
  border-radius: 8px;
}

.features-container2 .feature-item {
  text-align: center;
  padding: 20px;
  border: 1px solid lightgreen;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 30%;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease;
}

.features-container2 .feature-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 255, 255, 0.6);
}
.features-container2 .feature-icon {
  font-size: 3rem;
  color: #1abc9c;
  margin-bottom: 10px;
}

.features-container2 .feature-title {
  font-size: 1.5rem;
  color: lightgreen;
  margin-bottom: 10px;
}

.features-container2 .feature-description {
  font-size: 1rem;
  color: lightgreen;
}
@media (max-width: 768px) {
.hero-content .text-5xl {
    font-size: 2.25rem;
}
.featured-products-title {
  font-size: 1.2rem;
  }
  .features-container2 .feature-item {
    width: 45%;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
.hero-content .text-5xl {
    font-size: 1.875rem;
}
.featured-products-title {
  font-size: .8rem;
  }
  .features-container2 {
    flex-direction: column;
    align-items: center;
  }

  .features-container2 .feature-item {
    width: 90%;
    margin-bottom: 20px;
  }
}
/* Light theme */
html[data-theme="light"] {

  .home-container h1{
    color: black;
    }
  
  .hero-content .text-teal-700 {
  color: #004B8D;
  }
  .hero-content .py-6 {
    color: black;
    }
  
  .hero-content .btn {
  background-color: #0084F7;
  color: #ffffff;
  }
  
  .hero-content .btn:hover {
  background-color: #0a3255;
  }
  .max-w-md{
    color:black;
  }
  .max-w-md .sign-in-text{
    color:red;
  }
  .featured-products-container::before,
  .featured-products-container::after {
    background-color: #0084F7;
  }
  
  .featured-products-title {
    color: #0084F7;
  }
  
  .features-container2 .feature-item {
    border: 1px solid #1C95FF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .features-container2 .feature-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 10px #0084F7;
  }
  .features-container2 .feature-icon {
    color: #00549D;

  }
  
  .features-container2 .feature-title {
    color: #1C95FF;
  }
  
  .features-container2 .feature-description {
    color: #1C95FF;
  }
}