* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* align-items: center;#213a5b; */
}

.hero-content {
    position: relative;
    z-index: 1;
    overflow: hidden;
    align-items: center;
    padding-left: 4%;
    background: linear-gradient(to right, #213A5B, #366097); 
    /* background: radial-gradient(circle,  #213A5B, #3E6DAB);  */
}


.hero-content .grid-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    align-items: center;
}
.hero-content  .Grid-ul {
    display: flex;
}

.hero-content .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.hero-content .description {
    font-size: 16px;
    color: white;
}

.hero-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .hero-container {
        min-height: 650px;
        
    }

    .background-pattern {
        width: 800px;
        height: 800px;
    }

    .hero-content .title {
        font-size: 36px;
    }

    .hero-content .description {
        font-size: 18px;
    }
}
