*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* align-items: center; */
  }

/* Dark theme (default) */
body {
  background-color: #213a5b;
}

/* Light theme */
html[data-theme="light"] body {
  background-color:#CCE7FF;

}