@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    background: #1b2430;
    padding: 10px 20px;
}

.nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav-logo {
    margin-right: auto;
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: white;
}

.nav-ul {
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.nav-item {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.nav-item a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.nav-item a:hover,
.nav-item a.active {
    color: #17cf97;
}

.nav-item a:hover::after,
.nav-item a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #17cf97;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.Right {
    display: flex;
    justify-content: flex-end;
    color: #fff;
}

.Righter {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.Righter div {
    margin-left: 10px;
}

.hamburger {
    display: none;
}

.search-bar-container {
    position: relative;
}

.search-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    margin-left: 10px;
}

.search-bar {
    position: absolute;
    right: 0;
    top: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 5px;
    transition: width 0.3s ease;
    width: 0; /* Start with 0 width */
    opacity: 0; /* Start with hidden */
    overflow: hidden;
    z-index: 1000;
}

.search-bar.active {
    width: 300px; /* Expanded width */
    opacity: 1; /* Show the search bar */
}

.search-bar input {
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 4px;
    width: 100%;
}

.search-bar .close-icon {
    cursor: pointer;
    margin-left: 5px;
    color: red;
}

@media (max-width: 768px) {
    nav {
        grid-template-columns: 1fr;
        padding: 10px;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
    }

    .nav-logo {
        margin-right: 0%;
        align-items: center;
        justify-content: center;
    }

    .nav-ul {
        flex-direction: column;
        display: none;
        width: 100%;
        background: #1b2430;
    }

    .nav-ul.active {
        display: flex;
    }

    .nav-item {
        padding: 10px 0;
    }

    .Right {
        justify-content: center;
        margin-top: 10px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        border: .5px solid white;
        padding: 1px;
        border-radius: 5px;
    }

    .search-bar input {
        width: 200px;
    }

    .search-bar.active {
        width: 200px;
    }
}
