<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer with Animation</title>
    <link rel="stylesheet" href="oldfooter.css">
</head>

<body>
    <footer>
       <div class="row">
        <div class="col">
        <p>Start a business and design the life you want-all in one place</p>
        </div>
        <div class="col">
            <h3>Office</h3>
            <p>Ulon Road,Rampura</p>
            <p>Dhaka-1219</p>
            <p class="email-id">geekstreetbd@gmail.com</p>
            <h4>contact-01717564238</h4>
        </div>
        <div class="col">
            <h3>ABOUT US</h3>
            <ul>
                <p>Online Delivery</p>
                <p>Privacy policy</p>
                <p>Terms and Conditions</p>
                <p>Refund and Return policy</p>
                <p>Brands</p>
            </ul>
        </div>
        <div class="col"></div>

       </div>
    </footer>
    
</body>
</html>