* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.search-container .search-bar {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: #ffffff;
  border: 1px solid #cccccc6d;
  border-radius: 4px;
  position: static;
  right: 0;
  top: 0;
  width: 300px;
  transition: all 0.3s ease-in-out;
  transform: translateX(0);
}

.search-container .search-bar.active {
  transform: translateX(0);
}

.search-container .search-bar input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.5rem;
}

.search-container .close-icon {
  cursor: pointer;
  margin-left: 0.5rem;
  color: red;
}

.search-container .search-icon {
  cursor: pointer;
  font-size: 24px;
  margin-right: 10rem; 
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .search-container .search-bar {
    width: 100%;
    right: 0;
    position: static;
    transform: translateX(0);
  }

  .search-container .search-icon {
    font-size: 20px;
  }
}
html[data-theme="light"] {
  .search-icon{
    color: black;
  }
  .search-bar input {
    background-color: #e0e0e0; 
    color: #333; 
    
  }
  .search-bar {
    background-color: #f0f0f0; 
    border-color: #cccccc; 
  }
}
