* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.shop-container {
    padding: 1rem;
    max-width: 1250px;
    margin: 4rem auto 0 auto;
}

.shop-container .filters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
    color: white;
}

.shop-container .form-control {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.shop-container .label {
    margin-bottom: 0.5rem;
}

.shop-container .label-text {
    font-size: 1rem;
    font-weight: 600;
}

.shop-container .select {
    width: 100%;
    max-width: 20rem;
    padding: 0.5rem;
    border: 1px solid #b5bdca;
    border-radius: 0.375rem;
    background-color: #ffffff;
}

.shop-container .select-bordered {
    border: 1px solid #505254;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.pagination button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border: 2px solid #00ffbbb0;
    border-radius: 0.375rem;
    background-color: transparent;
    color: #00ffbbb0;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination button.active {
    background-color: #00ffbbb0;
    color: yellow;
    font-weight: bold;
}

.pagination button:hover {
    background-color: #00ffbbb0;
    color: yellow;
}

.No-product {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    color: white;
}

.No-product span {
    color: aquamarine;
}

@media (max-width: 768px) {
    .filters {
        flex-direction: column;
    }

    .form-control {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .pagination {
        flex-wrap: wrap;
    }

    .pagination button {
        padding: 0.5rem 0.5rem;
        font-size: 0.75rem;
    }
}

/* Light theme */
html[data-theme="light"] {
    .shop-container .filters {
        color: black;
    }

    .shop-container .select {
        border: 1px solid #0d0d0d;
        background-color: #e2ebed;
    }

    .shop-container .select-bordered {
        border: 1px solid #626969;
    }

    .pagination button {
        background-color: transparent;
        border: 2px solid #007bff;
        color: black;
    }

    .pagination button.active {
        background-color: #0056b3;
        color: white;
    }

    .pagination button:hover {
        background-color: #0056b3;
        color: white;
    }

    .No-product {
        color: black;
    }

    .No-product span {
        color: red;
    }
}
