* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shop-container {
    padding: 1rem;
    max-width: 1250px;
    margin: 4rem auto 0 auto;
}

.filters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
    color: white;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-right: 1rem; /* Adds space between form controls */
}

.label {
    margin-bottom: 0.5rem;
}

.label-text {
    font-size: 1rem;
    font-weight: 600;
}

.select {
    width: 100%;
    max-width: 20rem;
    padding: 0.5rem;
    border: 1px solid #b5bdca;
    border-radius: 0.375rem;
    background-color: #ffffff;
}

.select-bordered {
    border: 1px solid #505254;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .filters {
        flex-direction: column;
    }

    .form-control {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}
